body{
    margin: 0;
    padding: 0;
    background: whitesmoke;
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: white;
    text-decoration-color: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height:100px;
    border-radius:50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #424242;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border:none;
    outline:none;
    height:35px;
    margin-bottom:40%;
    background:#00aeef;
    color: #ffffff;
    font-size: 25px;
    border-radius:25px;
}

.loginbox input[type="submit"]:hover{
    cursor:pointer;
    background:limegreen;
    color: #ffffff;
}